/* Add here all your css styles (customizations) */
.cus-btn {
    color:white;
    font-size: small;
    font-weight: normal;
}
#logo-header{
    position:absolute;
    width:160px;
    height:80px;
}
#logo-header1{
    position:absolute;
    left:200px;
    width:172px;
    height:80px;
}